<div id="school">
  <% @school.each do |item| %>
    <%= content_tag :div, '', class: 'mycontainer', data: {source: item.the_geom}, id: item.dbn %>
  <% end %>
  <button type="button" class="btn btn-info" id="school_number">Check the school</button>
</div>
