<div id="violations">
<div>Showing recorded violations for the past 5 years</div>
<% @response.each do |violation| %>
           <div>  </div> 
           <div> <%= violation.novdescription %> </div> 
           
         <% end %></div>