<div class="container">
<%= form_tag("#", method: "get") do %>
  <%= label_tag(:building, "Enter the rental building location:") %>
  <%= text_field_tag(:building) %>
  <%# <%= submit_tag("Check It!") %> 
<% end %>

<div id="map" style="height: 300px; width: 500px; border: solid black 1px;">Map will be here</div>
<div id="infowindow-content">
      <img src="" width="16" height="16" id="place-icon">
      <span id="place-name"  class="title"></span><br>
      <span id="place-address"></span>
</div>

<div id="violations"></div>
</div>