<div class="container mt-5">
  <div class="row">
    <div class="col-12 mt-3 text-center"><h1>Check It Before You Rent It</h1></div>
    <div class="col-12 mt-3 text-center"><h3>Enter the rental building location:</h3></div>
    <div class="col-12 mt-3 text-center">
      <%= form_tag("#", method: "get") do %>
        <%= text_field_tag(:building) %>
      <% end %></div>
    </div>

  <div class="row">
    <div class="col-6 col-md-4 mt-4">
      <div id="map" style="height: 300px;"></div>
      <div id="infowindow-content">
        <img src="" width="16" height="16" id="place-icon">
        <span id="place-name"  class="title"></span><br>
        <span id="place-address"></span>
      </div>
    </div>
    <div class="col-6 col-md-8" id="violations"></div>
  </div>

  <div class="row">
  <div id="school">check school!</div>
    <div class="col-6"></div>
    <div class="col-6"></div>
  </div>

</div>